<nav>
  <ul>
    <li>
      <a
        routerLink="/spells/all"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >All Spells</a
      >
    </li>
  </ul>
</nav>

<nav>
  <ul>
    <li>
      <a
        routerLink="/spells/arcane"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Arcane Spells</a
      >
    </li>
    <li>
      <a
        routerLink="/spells/divine"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Divine Spells</a
      >
    </li>
    <li>
      <a
        routerLink="/spells/melodic"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Melodic Spells</a
      >
    </li>
    <li>
      <a
        routerLink="/spells/occult"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Occult Spells</a
      >
    </li>
    <li>
      <a
        routerLink="/spells/primal"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Primal Spells</a
      >
    </li>
    <li>
      <a
        routerLink="/spells/psionic"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Psionic Spells</a
      >
    </li>
  </ul>
</nav>

<nav>
  <ul>
    <li>
      <a
        routerLink="/spells/abjuration"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        ><img src="assets/spell-school-icons/abjuration.svg" width="20px"> Abjuration Spells</a
      >
    </li>
    <li>
      <a
        routerLink="/spells/conjuration"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        ><img src="assets/spell-school-icons/conjuration.svg" width="20px"> Conjuration Spells</a
      >
    </li>
    <li>
      <a
        routerLink="/spells/divination"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        ><img src="assets/spell-school-icons/divination.svg" width="20px"> Divination Spells</a
      >
    </li>
    <li>
      <a
        routerLink="/spells/enchantment"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        ><img src="assets/spell-school-icons/enchantment.svg" width="20px"> Enchantment Spells</a
      >
    </li>
    <li>
      <a
        routerLink="/spells/evocation"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        ><img src="assets/spell-school-icons/evocation.svg" width="20px"> Evocation Spells</a
      >
    </li>
    <li>
      <a
        routerLink="/spells/illusion"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        ><img src="assets/spell-school-icons/illusion.svg" width="20px"> Illusion Spells</a
      >
    </li>
    <li>
      <a
        routerLink="/spells/necromancy"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        ><img src="assets/spell-school-icons/necromancy.svg" width="20px"> Necromancy Spells</a
      >
    </li>
    <li>
      <a
        routerLink="/spells/restoration"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        ><img src="assets/spell-school-icons/restoration.svg" width="20px"> Restoration Spells</a
      >
    </li>
    <li>
      <a
        routerLink="/spells/sangromancy"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        ><img src="assets/spell-school-icons/sangromancy.svg" width="20px"> Sangromancy Spells</a
      >
    </li>
    <li>
      <a
        routerLink="/spells/transmutation"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        ><img src="assets/spell-school-icons/transmutation.svg" width="20px"> Transmutation Spells</a
      >
    </li>
    <li>
      <a
        routerLink="/spells/transposition"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        ><img src="assets/spell-school-icons/transposition.svg" width="20px"> Transposition Spells</a
      >
    </li>
  </ul>
</nav>
