<nz-table
  [nzData]="['yo mama']"
  [nzShowPagination]="false"
  [nzPageSize]="1 / 0"
  nzSize="small"
>
  <thead>
    <tr>
      <th>Class</th>
      <th>Requirements</th>
      <th>Proficiencies</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of multiclassingData">
      <td>
        {{ c.name }}
      </td>
      <td [innerHTML]="getRequirementsString(c.scores, c.special)"></td>
      <td>
        <div
          *ngIf="
            c.armor.length || c.weapons.length || c.skills || c.tools.length;
            else noProfs
          "
        >
          <div *ngIf="c.armor.length">
            <strong>Armor:</strong> {{ c.armor.join(", ") }}
          </div>
          <div *ngIf="c.weapons.length">
            <strong>Weapons:</strong> {{ getWeaponString(c.weapons) }}
          </div>
          <hr
            *ngIf="
              (c.armor.length || c.weapons.length) &&
              (c.skills || c.tools.length)
            "
          />
          <div *ngIf="c.tools.length">
            <strong>Tools:</strong> {{ getToolString(c.tools) }}
          </div>
          <div *ngIf="c.skills"><strong>One class skill</strong></div>
        </div>
        <ng-template #noProfs>
          <div>
            <strong>No proficiencies gained</strong>
          </div>
        </ng-template>
      </td>
    </tr>
  </tbody>
</nz-table>
